<h2><%= controller_plural_name.humanize %> <%%= link_to "New", new_<%= file_name %>_path %></h2>

<%% unless @<%= plural_name %>.empty? %>
	<ul>
		<%% @<%= plural_name %>.each do |<%= file_name %>| %>
			<li><%%= link_to <%= file_name %>.id, <%= file_name %>_path(<%= file_name %>) %> | <%%= link_to 'edit', edit_<%= file_name %>_path(<%= file_name %>) %> | <%%= link_to 'delete', <%= file_name %>_path(<%= file_name %>), :method => :delete, :confirm => "Are you sure?" %></li>
		<%% end %>
	</ul>
<%% end %>