<h2><%= file_name %></h2>

<% model_columns.each do |column| %>
<div>
	<%= column.humanize %>: <%%= @<%= file_name %>.<%= column %> %>
</div>
<% end %>

<div>
	<%%= link_to "Edit", edit_<%= file_name %>_path(@<%= file_name %>) %>
	<%%= link_to "Delete", <%= file_name %>_path(@<%= file_name %>), :method => :delete, :confirm => "Are you sure you want to delete this <%= file_name %>" %>
</div>